/* theme modifications that are perhaps too site-specific and opinionated to
 * include in the main theme files.
 */

/* eevee applies a bunch of things to both code and pre that don't make sense
   for inline elements. */
code {
    border-left: none;
    margin: 0;
    padding: 0;
}


